body {
    background:#EAEBED;}

h1 .w{
color:black;
font-size:100px;
font-family:'Courier New', Courier, monospace;
}

h1 .m{
    color:black;
    font-size:100px;
    font-family:'Courier New', Courier, monospace;
}
h1 .eather{
    font-family: "Zeyada", cursive;
    font-weight: 400;
    font-style: normal;
}
h1 .app{
    color:rgb(234, 0, 0);
    font-family: "Zeyada", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:70px;
}
h4.time{
    text-align:center;
    background:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:100;
    color:rgb(234, 0, 0);
}
.mapIcon{
    width:500px;
    height:500px;
    display:block;
    margin:0 auto;
    padding:40px 0 0 0;
}
section.bodyText {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
ul {
    list-style:none;
}
.globeIcon{
    width:275px;
    height:275px;
    display:block;
    margin:20px auto;
    position:relative;
    bottom:875px;
    margin-bottom: -700px;
}
section .city {
    font-size:22px;
    font-weight: 400;
    background:#EAEBED;
    color:rgb(234, 0, 0);
    max-width:90px;
    padding:40px 18px;
    border:solid;
    border-color: black;
    border-width:7px;
    border-radius:30px;
    position:relative;
    bottom:530px;
    left:76px;
    display:flex;
    transform:  rotateX(350deg)rotateY(71deg) scale(2.7, 0.91);
    transition:font-size 0.6s;
    box-shadow:-11px -11px 9px 0px maroon;
}
.city:hover{
    font-size:40px;
    z-index:1;
    transform:none;
    background:none;
    box-shadow:none;
    border:none;
    color:rgb(234, 0, 0);
}
    
section .mainTemp{
    font-size:45px;
    background:#EAEBED;
    max-width:125px;
    padding:40px 23px;
    border:solid;
    border-width:7px;
    border-radius:30px; 
    position:relative;
    bottom:490px;
    left:51px;
    display:flex;
    transform:  rotateX(349deg) rotateY(71deg) scale(2.0, 0.91); 
    transition:font-size 0.6s;
    box-shadow:-12px -12px 12px 0px maroon;
}
.mainTemp:hover{ 
    font-size:60px;
    z-index:1;
    transform:none;
    background:none;
    box-shadow:none;
    border:none;
    color:#EAEBED;
}
  .descLogo{
    background:#EAEBED;
    max-width:55px;
    padding:20px;
    border:solid;
    border-width:5px;
    border-radius:30px;
    margin:0;
    position:relative;
    bottom:798px;
    left:243px;
    transform:  rotateX(50deg) rotateY(33deg) scale(1.4, 2.0);
    transition:font-size 0.6s;
    box-shadow:7px -7px 7px 0px maroon;
}
.descLogo:hover{
    font-size:40px;
    z-index:1;
    transform:none;
    background:none;
    text-align:center;
    box-shadow:none;
    border:none;
    color:#EAEBED;
}
.descLogo:hover .weatherLogo {
    width:80px;
    height:80px;
}
.weatherLogo {
    text-align:center;
    width:40px;
}
.description {
    font-size:14px;
    transition:font-size 0.6s;
}
.descLogo:hover .description {
    font-size:40px;
}
section .details{
    font-size:18px;
    background:#EAEBED;
    max-width:90px;
    padding:20px;
    border:solid;
    border-width:6px;
    border-radius:30px;
    margin:0;
    position:relative;
    bottom:750px;
    left:224px;
    transform:  rotateX(53deg) rotateY(37deg) scale(1, 1.65);
    transition:font-size 0.6s;
    box-shadow:10px -10px 10px 0px maroon;
}
.details:hover{
    font-size:33px;
    z-index:1;
    transform:none;
    background:none;
    box-shadow:none;
    border:none;
    color:#EAEBED;
}
form.form1 {
    text-align:center; 
    padding:40px 0 20px 0;
}

form .textBox {
    background-color:#EAEBED;
    font-size: 16px;
    padding: 20px;
    width:250px;
    border-radius: 6px;
    border:solid;
    border-width:1px;
    border-color:maroon;
}
input[type="search"]::placeholder {
    color:black;}



form .searchButton {
    margin-left: 5px;
    font-size: 16px;
    background-color:maroon;
    color:#EAEBED;
    border: none;
    padding: 20px;
    line-height: 1;
    border-radius: 5px;
}

form .searchButton:hover {
    background:rgba(128, 0, 0, 0.6);

}

footer .reference{
    font-size:10px;
}
footer {
    text-align:center;
    position:relative;
    bottom:50px;
}

.weather-forecast {
display:inline;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size:10px;
position:relative;
bottom:1092px;
left:400px;
z-index:1;
}
.weather-forecast-day {
    background-color:#EAEBED;
    max-width:90px;
    padding:5px;
    border:solid;
    border-width:6px;
    border-radius:10px;
    transition:font-size 0.6s;
    box-shadow:-10px -10px 10px 0px maroon;
    text-align:center;
    transform: rotateX(349deg) rotateY(71deg) scale(2.9, 0.91); 
   
}
.weather-forecast-day:hover {
    font-size:40px;
    transform:none;
    background:none;
    box-shadow:none;
    border:none;
    color:#EAEBED;
}
.weather-forecast-date {
    color:rgb(234, 0, 0);
}

.weather-forecast-icon {
width:40px;
height:40px;

}

.weather-forecast-temperatures {
    display:flex;  
    justify-content: center;
}


body .container {
background:#C9949C;
width: 600px;
display:block;
margin:40px auto;
border-radius:30px;
border:solid;
border-width: 20px;
border-color:maroon;
box-shadow: 100px -100px;
}

